@font-face {
    font-family: 'open_sansbold';
         src: url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
         src: url('fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
         src: url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
         src: url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
         src: url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
	margin: 0;
	font-family: 'open_sansregular', sans-serif;
}

.holder {
	overflow: hidden;
	height: 1920px;
	width: 1080px;
}

header {
	text-align: center;
	width: 100%;
}

header .top_head {
	background-color: #30487c;
	padding: 20px;
	margin: 0;
	color: white;
	font-size: 23px;
}

header .top_head span {
	opacity: .7;
}

header .logo {
	padding: 50px;
	height: 180px;
	text-align: center;
}

.slide {
	display: none;
}

.active_slide {
	display: block;
}

.title {
	height: 400px;
	width: 980px;
	columns: white;
	padding: 20px 50px;
	background-image: url('images/banner.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title .big {
	font-size: 58px;
    color: white;
    font-family: 'open_sansbold';
    margin-bottom: 0;
    text-transform: uppercase;
}

.title .small {
	color: white;
    font-size: 32px;
}

.title p {
    text-align: center;
}

.product {
	text-align: center;
    padding-top: 120px;
}

.product img {
	display: none;
	width: 900px;
	margin-top: 100px;
	transition: margin 1s;
    -webkit-animation: bounce 10s infinite;
}

.product .big_img {
    position: relative;
    top: -100px;
}

@-webkit-keyframes bounce {
  10%, 90%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(50px); }
}

.msg {
    display: none;
}

.msg p {
    margin: auto;
    text-align: center;
    font-size: 43px;
    background: #fdf24e;
    width: fit-content;
    display: block;
    border-radius: 40px;
    padding: 50px;
    width: 500px;
    margin-top: -100px;
    color: #375187;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 66px;
}

.flash {
    display: none;
    height: 100%;
    background-color: #30487c;
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    margin-top: 700px;
    transition: margin 1s, background-size 5s;
    background-image: url(images/flash_back.jpg);
    background-size: 100%;
    background-position: center center;
}

.flash > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash.show {
    margin-top: 0;
    background-size: 130%;
}

.flash img {
    width: 700px;
}

.slide video {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1150px;
    width: auto;
    z-index: -1;
}











